@font-face  {
	font-family: MuseoSans;
	src: url(../fonts/MuseoSans_500.otf);
}

html {
     /*background-image: -moz-radial-gradient( 50% 30% 90deg, circle, #006EA0 0%, #304160 600px);
     background-image: -webkit-gradient(radial, 50% 30%, 0, 50% 30%, 600, from(#006EA0), to(#304160));
     background-color: #006EA0;*/
     background: url("../images/background-gradient.png") repeat-x scroll 0 0 #F5F1E8;
     min-height: 100%;
}

body {
	font-size: 100%;
	font-family: MuseoSans;
	letter-spacing: -1px;
}

#demo {
     margin: 0pt auto;
     padding: 1em 0pt;
     width: 800px;
}

.highlight {
     background-color: #FFEEDD;
     border-radius: 5px 5px 5px 5px;
     border: 1px solid #FFDDDD;
     box-shadow: 0px 1px 10px #888888;
     margin-left: auto;
     margin-right: auto;
}

.menu button {
     -moz-user-select: none;
     background-color: #DDDDFF;
     border: 1px solid #CCCCEE;
     cursor: pointer;
     display: block;
     float: left;
     margin: 1px;
     padding: 1px 4px;
     text-align: center;
}

.menu button:hover {
     background-color: #CCCCFF;
}

.menu button:first-child {
     border-bottom-left-radius: 1em;
     border-top-left-radius: 1em;
}

.menu button:last-child {
     border-bottom-right-radius: 1em;
     border-top-right-radius: 1em;
}
